.Cards{
    margin-left: 30%;
    
}
div.Card{
    
    box-shadow: 2px 5px #888888;

}
.Title{
    font-size: 2vw;
    font-weight:800;
}
button.Button{
    /* width: 5vw; */
    font-size: 1.2vw;
}
.Location{
    font-size: 0.8vw;
}
